
.carousel-img-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0;
    transform: 100ms;
    max-width: 900px;
    margin: 0 auto;
} 

.active {
    opacity: 100%;
}

.panel-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgb(0, 0, 0);
}
